
.center-div {
      margin: 0 auto;
      width: 400px;
      height: 300px;
      background-color: rgba(10,10,10,0.95);
      padding: 15px;
      color: white;
}

.center-div h2 {
      margin: 10px;
}

.center-div label, input {
      display: block;
}

.center-div input {
      width: 100%;
      margin: 10px;
}
