
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Flask stuff:
instance/
.webassets-cache

# Database files
*.sqlite3
*.db

# Temp/coverage
tmp/
coverage/
.coverage

# User-uploaded photos
app/static/upload/
