
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Flask stuff:
instance/
.webassets-cache
.sqlite3


# Temp/coverage
tgeni/tmp
tgeni/coverage
.coverage
tgeni/app/static/upload
