{% extends 'profile_layout.html' %}

{% block subtitle %}Change Password{% endblock %}

{% block main_content %}
<section id="cd-placeholder-1" class="cd-section cd-container">

	<form action="" method="post" name="edit_profile">
		{{ form.hidden_tag() }}

            {{ render_field(form.password, div_class="col-2") }}
            {{ render_field(form.confirm, div_class="col-2") }}

		<button type="submit" value="Submit" class="cd-btn" id="col-submit" style="position:relative;float:right;overflow:hidden;margin:10px;margin-top:30px;">Save</button>

	</form>

</section> <!-- #cd-placeholder-1 -->
{% endblock main_content %}
