<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Itenraries</title>
		<meta name="author" content="Codrops" />
		<link rel="stylesheet" type="text/css" href="static/css/normalizeit.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/style1.css" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet" type="text/css">
	</head>

	<body>
                <header class="top-bar">

						<div class="filter">
						<a href="{{ url_for('index') }}"><img src="static/css/Travel Geni.png" alt="Mountain View" style="width:130px;left:-20px;top:0;position:absolute;"></a><br><br><br>
							<span class="topic">Discover Trips</span><br>

						</div>

						<div class="dropdown">
						<div>
						<form>
						<button type="submit">
                            <i class="fa fa-search" id="searchicon" ></i>
                        </button>

						<input type="text" name="location" placeholder="Search locations.." class="search">
                        </form>
						</div><br>
						<!-- trigger button -->


					    </div>

	            </header>
			<div class="container">
			<div id="theGrid" class="main">

				<section class="grid">

                              { {% for trip in current_user.trips %}
					<a class="grid__item" href="{{ url_for('view_complete_trip',trip_id = trip.trip_id) }}">
						<h2 class="title title--preview">{{ trip.title }}</h2>
						<div class="loader"></div>
						<span class="category">{{ trip.location }}</span>
					</a>
					
                              {% endfor %}<br><br><br>

				</section>
			</div>
		</div><!-- /container -->
	</body>
</html>
