{% extends "itineraries_layout.html" %}
{% block title %}Discover Trips{% endblock %}
{% block topic %}Discover Trips{% endblock %}

{% block grid_items %}
      {% for trip in trips %}
      <a class="grid__item {{ trip.icon }}" href="{{ url_for('view_complete_trip', trip_id=trip.trip_id) }}" style = "margin:10px">
            <h2 class="title title--preview">{{ trip.title }}</h2>
            <div class="loader"></div>
            <span class="category">{{ trip.location }}</span>
      </a>
      {% endfor %}
{% endblock %}
