<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/reset.css') }}"> <!-- CSS reset -->
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styleTrip.css') }}"> <!-- Resource style -->
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/trip_icons.css') }}">
	<href= "{{ url_for('static',filename='js/mainTrip.js') }}">
	<href= "{{ url_for('static',filename='js/jquery-2.1.1.js') }}">


	<title>Edit My Trip</title>
</head>
<body>
	<header>
		<section id="cd-intro">
			<div id="cd-intro-tagline">
				<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='css/fonts/Travel Geni.png') }}" alt="Mountain View" style="width:130px;left:-120px;top:0;position:absolute;"></a>

				<h1 style="top:0;">Edit Trip</h1>

			</div> <!-- #cd-intro-tagline -->
		</section> <!-- #cd-intro -->
	</header>
	<div class="cd-secondary-nav">
		<a href="#0" class="cd-secondary-nav-trigger">Menu<span></span></a> <!-- button visible on small devices -->
		<nav style="height:20px;">
			<ul>
				<li>
					<a href="#">
						<b>Edit Trip</b>
					</a>
				</li>
				<li>
					<a href="#">
						<b>Add Activities</b>
					</a>
				</li>
				<li>
					<a href="#">
						<b>Trip Photos</b>
					</a>
				</li>
			</ul>
		</nav>
	</div> <!-- .cd-secondary-nav -->
	<main class="cd-main-content">
		<section id="cd-placeholder-1" class="cd-section cd-container">
			<h2>Trip Focus</h2>

			<form action="" method="post" name="add_trip">
				{{ form.hidden_tag() }}

				<div class="col-3">
					<label>
						Trip Name
						<br>
						{{ form.title(placeholder = "What is the name of your trip?", style= "background-color: #E5E0CD")}}
						{% for error in form.title.errors %}
						<span style="color: red;">[{{error}}]</span>
						{% endfor %}<br>
					</label>
				</div>

				<div class="col-3">
					<label>
						Location
						<br>
						{{ form.location(placeholder = "Where are you going?", style= "background-color: #E5E0CD")}}
						{% for error in form.location.errors %}
						<span style="color: red;">[{{error}}]</span>
						{% endfor %}<br>
					</label>
				</div>

				<div class="col-3">
					<label>
						Duration of Trip
						<br>
						{{ form.length(placeholder = "How many days?", style= "background-color: #E5E0CD")}}
						{% for error in form.length.errors %}
						<span style="color: red;">[{{error}}]</span>
						{% endfor %}<br>
					</label>
				</div>

				<div>
					<label>
						Any Trip Focus?
						<br>
						{{ form.about(rows = '5', cols = '75', placeholder = "Description of activity", style= "background-color: #E5E0CD")|safe}}
						{% for error in form.about.errors %}
						<span style="color: red;">[{{error}}]</span>
						{% endfor %}<br>
					</label>
				</div>

				<button type="submit" value="Submit" class="cd-btn" id="col-submit" style="position:relative;float:right;overflow:hidden;margin:10px;margin-top:30px;">Save</button>

				<br><br><br>
				<div>
					<label>
						Choose your trip picture<br><br>
						<div class="cc-selector-2">
                                          {% for icon_name in ('safari','city','skiing','mosque','beach') %}
							<input id="icon_opt_{{ icon_name }}" type="radio" name="icon_choice" value="{{ icon_name }}" {{ 'checked' if (trip.icon==icon_name) else '' }} >
							<label class="drinkcard-cc {{ icon_name }}" for="icon_opt_{{ icon_name }}"></label>
                                          {% endfor %}
						</div>
                                    <div class="cc-selector-2" style="margin-top:-70px;">
                                          {% for icon_name in ('koo5','italy','original','sea','castle') %}
                                          <input id="icon_opt_{{ icon_name }}" type="radio" name="icon_choice" value="{{ icon_name }}" {{ 'checked' if (trip.icon==icon_name) else '' }} >
                                          <label class="drinkcard-cc {{ icon_name }}" for="icon_opt_{{ icon_name }}"></label>
                                          {% endfor %}
                                    </div>
					</label>
				</div>
				<div class="col-1" style="margin-top:-190px;">
					<label>
						<p style="color:#B1103C;font-size: 14px;font-weight:bold;">Publish My Trip!</p>
						<br>
						{{ form.complete }}<br>
					</label>
				</div>

			</form>
		</section> <!-- #cd-placeholder-1 -->
</main> <!-- .cd-main-content -->

<script src="js/jquery-2.1.1.js"></script>
<script src="js/mainTrip.js"></script> <!-- Resource jQuery -->
</body>
</html>
