{% extends 'profile_layout.html' %}

{% block subtitle %}Edit Profile{% endblock %}

{% block main_content %}
<section id="cd-placeholder-1" class="cd-section cd-container">

      <form id="edit-profile-form" name="edit_profile" method="POST" enctype="multipart/form-data">
		{{ form.hidden_tag() }}

            {{ render_field(form.username, div_class="col-2") }}
            {{ render_field(form.email, div_class="col-2") }}

            <div class="col-1">
            	<label>
                        {% if avatar_filename %}
                        <img src="{{ url_for('static', filename='upload/'+avatar_filename) }}"
                              alt="Avatar Photo"
                              style="height: 100px; width: 100px;">
                        {% else %}
                        No Avatar Uploaded
                        {% endif %}
            	</label>
            </div>

            {{ render_field(form.avatar, div_class="col-1") }}

            {{ render_field(form.bio, div_class="col-1", rows='5', cols='75') }}

		<button type="submit" value="Submit" class="cd-btn" id="col-submit" style="position:relative;float:right;overflow:hidden;margin:10px;margin-top:30px;">Save</button>

	</form>

</section> <!-- #cd-placeholder-1 -->
{% endblock main_content %}
