<!doctype html>
<html lang="en" class="no-js">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/reset.css') }}"> <!-- CSS reset -->
      <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styleTrip.css') }}"> <!-- Resource style -->
      <!-- child template styles go here -->
      {% block styles %}{% endblock %}

      <script src="js/modernizr.js"></script> <!-- Modernizr -->
      <!-- child template scripts go here -->
      {% block scripts %}{% endblock %}

      <!-- page subtitle goes here... -->
      <title>TravelGeni :: {% block title %}{% endblock %}</title>

      {% macro render_form(form, name, button_text='Save', action='') -%}
      <form class="tc" action="{{ action }}" method="post" name="{{ name }}">
            {{ form.hidden_tag() }}
            <div class="foucs" >
                  {% for field in form if field.widget.input_type != 'hidden' %}
                  <label>{{ field.label }}</label><br>
                  {{ field }}
                  {% if field.errors %}
                  <ul>
                        {% for error in field.errors %}
                        <li style="color:red">{{ error }}</li>
                        {% endfor %}
                  </ul>
                  {% endif %}
                  {% endfor %}<br>
            </div>
            <p><input type="submit" value="{{ button_text }}" class="cd-btn"></p>
      </form>
      {%- endmacro %}

</head>

<body>
      <header>
            <section id="cd-intro">
                  <div id="cd-intro-tagline">
                        <h1>{% block header_text %}{% endblock %}</h1>
                  </div> <!-- #cd-intro-tagline -->
            </section> <!-- #cd-intro -->
      </header>

      {% block nav_links %}{% endblock %}

      <main class="cd-main-content">
            {% block main_content %}{% endblock %}
      </main>

      <script src="js/jquery-2.1.1.js"></script>
      <script src="js/mainTrip.js"></script> <!-- Resource jQuery -->
</body>
</html>
