<!doctype html>
<html>
  <head>
    {% block head %}
    <meta charset="UTF-8">
    {% block base_styles %}
      	<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet" type="text/css">
      	<link rel="stylesheet" href="static/css/reset.css"> <!-- CSS reset -->
      	<link rel="stylesheet" href="static/css/index.css"> <!-- Resource style -->
    {% endblock %}
    {% block styles %}
    {% endblock %}
    {% block base_scripts %}
  	   <script src="static/js/modernizr.js"></script> <!-- Modernizr -->
       <script src="static/js/jquery-2.1.1.js"></script>
       <script src="static/js/main.js"></script> <!-- Resource jQuery -->
    {% endblock %}
    {% block scripts %}
    {% endblock %}
    <title>TravelGeni :: {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body class="cd-intro">
    <header class="cd-header">
          {% if current_user.is_authenticated %}
            <nav>
              <ul class="cd-secondary-nav">
                  <li><span class="username">{{ current_user.username }}</span></li>
                  <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
              </ul>
            </nav> <!-- cd-nav -->
            <a class="cd-primary-nav-trigger" href="#0">
              <span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
            </a> <!-- cd-primary-nav-trigger -->
          {% else %}
            <nav>
              <ul class="cd-secondary-nav">
                <li><a href="{{ url_for('signin') }}">Sign In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
              </ul>
            </nav> <!-- cd-nav -->
          {% endif %}
    </header>

    {% if current_user.is_authenticated %}
    <nav>
      <ul class="cd-primary-nav">
        <li><a href="{{ url_for('add_trip') }}">New Trip</a></li>
		<li><a href="{{ url_for('itineraries') }}">My Itineraries</a></li>
        <li><a href="#0">Discover Trips</a></li>
        <li><a href="#0">About Us</a></li>
      </ul>
    </nav>
    {% endif %}

    {% block content %}{% endblock %}

  </body>
</html>
