<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Itenraries</title>
		<meta name="author" content="Codrops" />
		<link rel="stylesheet" type="text/css" href="css/normalizeit.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">		
        <link rel="stylesheet" type="text/css" href="css/style1.css" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet" type="text/css">
		<script src="js/modernizr.custom.js"></script>
	</head>
	
	<body>
                <header class="top-bar">
					
						<div class="filter">
							<span class="topic">Itenrary</span><br>
							<a href="" class="cd-btn" type="submit" >Save</a>

						</div>
						
						<div class="dropdown">

						<!-- trigger button -->
						<button>Filter</button>

						<!-- dropdown menu -->
						<ul class="dropdown-menu">
							<li><a href="#home">Creation</a></li>
							<li><a href="#about">Size</a></li>
						</ul>
					    </div>

	            </header>	
			<div class="container">
			<div id="theGrid" class="main">
				
				<section class="grid">
				
					
					<a class="grid__item" href="#">
						<h2 class="title title--preview">Trip Name</h2>
						<div class="loader"></div>
						<span class="category">Location</span>
					</a>
					
				
					
				</section>
			</div>
		</div><!-- /container -->
		<script src="js/classie.js"></script>
		<script src="js/mainit.js"></script>
	</body>
</html>
