{% extends "itineraries_layout.html" %}
{% block title %}My Itineraries{% endblock %}
{% block topic %}My Itineraries{% endblock %}

{% block grid_items %}
      {% for trip in trips %}
      <a class="grid__item" href="{{ url_for('add_trip', trip_id=trip.trip_id) }}" style = "margin-left:10px;">
            <h2 class="title title--preview">{{ trip.title }}</h2>
            <div class="loader"></div>
            <span class="category">{{ trip.location }}</span>
      </a>
      <div style="border:solid 1px #8EA86C; width:35px; height:35px;color:#ffffff;font-size:26px;background-color:#8EA86C; opacity:0.5;text-align:center;"><a href="{{ url_for('delete_trip', trip_id = trip.trip_id) }}"class="fa fa-trash" aria-hidden="true" ></a></div>
      {% endfor %}
{% endblock %}
