{#
      Base layout for edit profile pages.
#}
{% extends "form_layout.html" %}

{% block title %}My Profile{% endblock %}

{% block css %}
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/trip_icons.css') }}">
{% endblock %}

{% block js %}
{% endblock %}

{% block secondary_nav_options %}
      {% if is_current_user %}
            <ul>
                 <li>
                       <a href="{{ url_for('edit_profile') }}">
                             <b>Update Profile</b>
                       </a>
                 </li>
                 <li>
                       <a href="{{ url_for('change_password') }}">
                             <b>Change Password</b>
                       </a>
                 </li>
                 <li>
                       <a href="{{ url_for('view_profile') }}">
                             <b>Public Profile</b>
                       </a>
                 </li>
            </ul>
      {% else %}
            <ul>
                 <li>
                       <a href="#">
                             <b>View Profile</b>
                       </a>
                 </li>
            </ul>
      {% endif %}
{% endblock %}

{% block main_content %}
{% endblock %}
