{% extends "trip_layout.html" %}
{% block title %}My Trip{% endblock %}
{% block subtitle %}Edit Trip{% endblock %}

{% block main_content %}
<section id="cd-placeholder-1" class="cd-section cd-container">
	<h2>Trip Focus</h2>

	<form action="" method="post" name="add_trip">
		{{ form.hidden_tag() }}

		<div class="col-3">
			<label>
				Trip Name
				<br>
				{{ form.title(placeholder = "What is the name of your trip?", style= "background-color: #E5E0CD")}}
				{% for error in form.title.errors %}
				<span style="color: red;">[{{error}}]</span>
				{% endfor %}<br>
			</label>
		</div>

		<div class="col-3">
			<label>
				Location
				<br>
				{{ form.location(placeholder = "Where are you going?", style= "background-color: #E5E0CD")}}
				{% for error in form.location.errors %}
				<span style="color: red;">[{{error}}]</span>
				{% endfor %}<br>
			</label>
		</div>

		<div class="col-3">
			<label>
				Length Of stay
				<br>
				{{ form.length(placeholder = "How many days?", style= "background-color: #E5E0CD")}}
				{% for error in form.length.errors %}
				<span style="color: red;">[{{error}}]</span>
				{% endfor %}<br>
			</label>
		</div>

		<div>
			<label>
				Any Trip Focus?
				<br>
				{{ form.about(rows = '5', cols = '75', placeholder = "Description of activity", style= "background-color: #E5E0CD")|safe}}
				{% for error in form.about.errors %}
				<span style="color: red;">[{{error}}]</span>
				{% endfor %}<br>
			</label>
		</div>

		<button type="submit" value="Submit" class="cd-btn" id="col-submit" style="position:relative;float:right;overflow:hidden;margin:10px;margin-top:30px;">Save</button>

		<br><br><br>
		<div>
			<label>
				Choose your trip picture<br><br>
				<div class="cc-selector-2">
                              {% for icon_name in ('safari','city','skiing','mosque','beach') %}
					<input id="icon_opt_{{ icon_name }}" type="radio" name="icon_choice" value="{{ icon_name }}" {{ 'checked' if (trip.icon==icon_name) else '' }} >
					<label class="drinkcard-cc {{ icon_name }}" for="icon_opt_{{ icon_name }}"></label>
                              {% endfor %}
				</div>
                        <div class="cc-selector-2" style="margin-top:-70px;">
                              {% for icon_name in ('koo5','italy','original','sea','castle') %}
                              <input id="icon_opt_{{ icon_name }}" type="radio" name="icon_choice" value="{{ icon_name }}" {{ 'checked' if (trip.icon==icon_name) else '' }} >
                              <label class="drinkcard-cc {{ icon_name }}" for="icon_opt_{{ icon_name }}"></label>
                              {% endfor %}
                        </div>
			</label>
		</div>
		<div class="col-1" style="margin-top:-190px;">
			<label>
				<p style="color:#B1103C;font-size: 14px;font-weight:bold;">Publish My Trip!</p>
				<br>
				{{ form.complete }}<br>
			</label>
		</div>

	</form>

</section> <!-- #cd-placeholder-1 -->

{% endblock main_content %}
