{#
      Base layout for all trip-related pages.
#}
{% extends "form_layout.html" %}

{% block css %}
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/trip_icons.css') }}">
{% endblock %}

{% block js %}
{% endblock %}

{% block secondary_nav_options %}
<ul>
     <li>
           <a href="{{ url_for('add_trip', trip_id=trip.trip_id) }}">
                 <b>Edit Trip</b>
           </a>
     </li>
     {% if not new_trip %}
     <li>
           <a href="{{ url_for('add_activity', activity_id=None, trip_id=trip.trip_id) }}">
                 <b>Activities</b>
           </a>
     </li>
     <li>
           <a href="{{ url_for('upload_photos', trip_id=trip.trip_id) }}">
                 <b>Photos</b>
           </a>
     </li>
     {% endif %}
</ul>
{% endblock %}

{% block main_content %}
{% endblock %}
