{% extends "form_layout.html" %}
{% block title %}Edit Trip{% endblock %}
{% block header_text %}Edit Trip{% endblock %}
{% block nav_links %}
      <div class="cd-secondary-nav">
            <a href="#0" class="cd-secondary-nav-trigger">Menu<span></span></a> <!-- button visible on small devices -->
            <nav>
                  <ul>
                        <li><a href="#cd-placeholder-1"><b>My Trip</b></a></li>
                        <li><a href="#cd-placeholder-2"><b>Activities</b></a></li>
                        <li><a href="#cd-placeholder-3"><b>Photos</b></a></li>
                        <li><a href="#cd-placeholder-4"><b>Group Buddies</b></a></li>
                  </ul>
            </nav>
      </div> <!-- .cd-secondary-nav -->
{% endblock %}

{% block main_content %}
<section id="cd-placeholder-1" class="cd-section cd-container">
      <h2>My Trip</h2>
      {{ render_form(form) }}
</section> <!-- #cd-placeholder-1 -->

{% if not new_trip %}

<section id="cd-placeholder-2" class="cd-section cd-container">
      <h2>Activities</h2>
      <div>
            {% if saved_activities %}
            <ul>
                  {% for activity in saved_activities %}
                  <li>{{ activity.title }}</li>
                  <ul>
                        <li>Location: {{ activity.location }}</li>
                        <li>When: {{ activity.length }} </li>
                        <li>Description: {{ activity.description }}</li>
                  </ul>
                  {% endfor %}
            </ul>
            {% endif %}
      </div>

      
	  <form class="form2">
			{{ activity_form.hidden_tag() }}

			<div class="col-3">
							<label>
							  Activity Name:
							  {{ activity_form.title(placeholder = "What is your activity?")}}
							  {% for error in activity_form.title.errors %}
							  <span style="color: red;">[{{error}}]</span>
							  {% endfor %}<br>
							</label>
						  </div>
						  
						  <div class="col-3">
							<label>
							Location:
							  {{ activity_form.location(size=80, placeholder = "Where is it going to be?") }}
							 {% for error in activity_form.location.errors %}
							 <span style="color: red;">[{{error}}]</span>
							{% endfor %}<br>
							</label>
						  </div>
						  
						  <div class="col-3">
							<label>
							 Date:
                        {{ activity_form.length(size=3, placeholder = "mm\dd\yy") }}
                        {% for error in activity_form.length.errors %}
                        <span style="color: red;">[{{error}}]</span>
                        {% endfor %}<br>
							</label>
						  </div>
						  
						  <div>
							<label>
							   Care to share more? <br>
                        {{ activity_form.description(rows = '5', cols = '68', placeholder = "Description of activity", style= "background-color: #E5E0CD") }}
                        {% for error in activity_form.description.errors %}
                        <span style="color: red;">[{{error}}]</span>
                        {% endfor %}<br>
							</label>
						  </div>
						  
							<button type="submit" value="Submit" class="cd-btn" id="col-submit" style="position:relative;float:right;overflow:hidden;margin:10px;margin-top:30px;">Add Activity</button>
						  
						  
            </form>

</section> <!-- #cd-placeholder-2 -->

<section id="cd-placeholder-3" class="cd-section cd-container">
      <h2>Photos</h2>
      <div class="grid-photos">
            <figure class="pic">
                  <img src="https://cdn.pixabay.com/photo/2016/05/31/22/42/village-1428010_1280.jpg" alt="" class="img-grid">
            </figure>

            <figure class="pic">
                  <img src="https://cdn.pixabay.com/photo/2013/08/12/18/09/staniel-cay-yacht-club-171902_1280.jpg" alt="" class="img-grid">
            </figure>

            <figure class="pic">
                  <img src="https://cdn.pixabay.com/photo/2016/11/21/14/02/architecture-1845560_1280.jpg" alt="" class="img-grid">
            </figure>

            <figure class="pic">
                  <img src="https://cdn.pixabay.com/photo/2017/02/21/18/24/prague-2086967_1280.jpg" alt="" class="img-grid">
            </figure>

            <figure class="pic">
                  <img src="https://cdn.pixabay.com/photo/2012/11/28/09/46/lava-67574_1280.jpg" alt="" class="img-grid">
            </figure>

            <figure class="pic">
                  <img src="https://cdn.pixabay.com/photo/2016/06/24/12/36/surf-1477175_1280.jpg" alt="" class="img-grid">
            </figure>

            <figure class="pic">
                  <img src="https://cdn.pixabay.com/photo/2016/12/05/11/38/austria-1883647_1280.jpg" alt="" class="img-grid">
            </figure>

            <figure class="pic">
                  <img src="https://cdn.pixabay.com/photo/2015/03/18/22/05/bora-bora-680115_1280.jpg" alt="" class="img-grid">
            </figure>

            <figure class="pic">
                  <img src="https://cdn.pixabay.com/photo/2017/01/30/07/54/church-2020258_1280.jpg" alt="" class="img-grid">
            </figure>

            <figure class="pic">
                  <img src="https://cdn.pixabay.com/photo/2016/12/06/14/33/log-cabin-1886620_1280.jpg" alt="" class="img-grid">
            </figure>

            <figure class="pic">
                  <img src="https://cdn.pixabay.com/photo/2017/02/22/16/50/multnomah-falls-2089902_1280.jpg" alt="" class="img-grid">
            </figure>

            <figure class="pic">
                  <img src="https://cdn.pixabay.com/photo/2010/12/23/12/58/horseshoe-bend-4040_1280.jpg" alt="" class="img-grid">
            </figure>

      </div>

</section> <!-- #cd-placeholder-3 -->

{% endif %} <!-- new_trip -->

{% endblock %}
