{% extends "trip_layout.html" %}
{% block title %}Photos{% endblock %}
{% block subtitle %}Photos{% endblock %}

{% block main_content %}

{# 'enctype="multipart/form-data"' is needed for flask-upload! #}

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.photo(multiple="multiple")}}
    {% for error in form.photo.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}
    {{ form.submit }}
</form>

{% for photo_filename in photo_filenames %}
    <p><img src="{{ url_for('static', filename='upload/'+photo_filename) }}">
{% endfor %}

{% endblock main_content %}
