{% extends 'profile_layout.html' %}

{% block subtitle %}My Profile{% endblock %}

{% block css %}
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styleTrip.css') }}">
<link rel="stylesheet" type="text/css" href="static/css/normalizeit.css" />
<link rel="stylesheet" type="text/css" href="static/css/itineraries.css" />
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/trip_icons.css') }}">
{% endblock %}

{% block main_content %}
<section id="cd-placeholder-1" class="cd-section cd-container">
      <div class="profile-data">
            <div class="row">
                  <div class="col-8">
                        <div class="row">
                              <div class="col-6">
                                    <label>
                                          Username
                                          <br>
                                          <span class="small-label">{{ user.username }}</span>
                                    </label>
                              </div>
                              <div class="col-6">
                                    <label>
                                          Published Trips
                                          <br>
                                          <span class="small-label">{{ trips_count }}</span>
                                    </label>
                              </div>
                        </div>
                        <div class="row profile-bio">
                              <label>
                                    Bio
                                    <br>
                                    <span class="small-label">{{ user.bio }}</span>
                              </label>
                        </div>
                  </div>
                  <div class="col-4 profile-img-block">
                        <img class="profile-img" src="{{ avatar_file_url }}"
                              alt="Avatar Photo"
                              style="height: 100%; width: 100%;">
                  </div>
            </div>
            

      </div>
</section> <!-- #cd-placeholder-1 -->
{% if trips_count > 0 %}
<section id="cd-placeholder-2" class="cd-section cd-container">
      <h2>Published Trips:</h2>
</section> <!-- #cd-placeholder-2 -->
{% endif %}

<div>
      <div id="theGrid" class="main">
            <section class="grid">
                  {% for trip in trips %}
                  <a class="grid__item {{ trip.icon }}" href="{{ url_for('view_complete_trip', trip_id=trip.trip_id) }}">
                              <nav style="background: rgba(0,0,0,.7);">
                                    <h2 class="title title--preview">{{ trip.title }}</h2>
                                    <div class="loader"></div>
                                    <span class="category">{{ trip.location }}</span>
                              </nav>
                  </a>
                  {% endfor %}
            </section>
      </div>
</div>


{% endblock main_content %}
