{% extends 'complete_trip_layout.html' %}
{% block title %}Published Trip{% endblock %}
{% block subtitle %}Published Trip{% endblock %}

{% block main_content %}
<section id="cd-placeholder-1" class="cd-section cd-container">
	<div class="activity">
		<div class="col-8">
			<div class="row">
				<div class="col-3">
					<label>
                    {{ trip.title }}
                    </label>
                </div>

                <div class="col-3">
					<label>
                    {{ trip.location }}
                    </label>
                </div>

                <div class="col-3">
					<label>
                    {{ trip.length }}
                    </label>
                </div>

                <div class="activity-desc">
					{{ trip.about }}
                </div>

            </div>
        </div>
			<div class="col-4 trip-img drinkcard-cc {{ trip.icon }}">
            </div>
	</div>
</section> <!-- #cd-placeholder-1 -->

<section id="cd-placeholder-2" class="cd-section cd-container">
	<h2>Activities</h2>
    {% if trip.activities %}
		{% for activity in trip.get_sorted_activities() %}  
			<div style="border:solid 2px #B7C891;width:90%;padding:10px;">
				<ul>
					<li style="padding:3px;font-weight:bold;font-size:19px;">{{ activity.title }}</li>
					<li style="padding:3px;">Location: {{ activity.location }}</li>
                    <li style="padding:3px;">When: {{ activity.length }} </li>
                    <li style="padding:3px;">Description: {{ activity.description }}</li>
                </ul>
			</div>
		{% endfor %}
	{% endif %}

</section> <!-- #cd-placeholder-2 -->

{% endblock main_content %}